In [1]:
import pandas as pd
from sqlalchemy import create_engine

import os
from dotenv import load_dotenv
load_dotenv('BDD_URL.env') # load environment variables from.env file

BDD_URL = os.environ['BDD_URL'] # get environment variable
print('BDD_URL=', BDD_URL)

engine = create_engine(BDD_URL)


SQL= """SELECT * 
        FROM mohammed.title_ratings 
        ;"""

df1 = pd.read_sql(SQL, engine)
df1

BDD_URL= postgresql://citus:floox2024!@c-groupe2.jh4mqc5jxykkfg.postgres.cosmos.azure.com:5432/netfloox?sslmode=require

         tconst  averageRating  numVotes
0     tt0000001            5.7      2020
1     tt0000002            5.7       270
2     tt0000003            6.5      1944
3     tt0000004            5.4       178
4     tt0000005            6.2      2722
...         ...            ...       ...
9995  tt0025279            6.3        46
9996  tt0025281            5.9        28
9997  tt0025282            6.1        40
9998  tt0025283            5.9        44
9999  tt0025284            5.8       164

[10000 rows x 3 columns]